[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.12.3"

[packages]
requests = ">=2.32.3"
tornado = ">=6.4"
bleach = ">=6.1.0"
sqlalchemy = ">=2.0.30"
pytest = ">=8.2.2"
pycodestyle = ">=2.11.1"
pytest-cov = ">=5.0.0"
pillow = ">=10.3.0"
python-dotenv = "*"
toml = "*"
pytest-env = "*"
opentelemetry-sdk = "*"
opentelemetry-exporter-otlp-proto-http = "*"
opentelemetry-instrumentation-tornado = "*"
