[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
inflect = "==2.*"
requests = "==2.*"
tornado = "~=6.0"
bleach = "==3.*"
SQLAlchemy = "~=1.3"
pymysql = "==0.*"

[requires]
python_version = "3.7"
