asn1crypto==0.22.0
backports-abc==0.5
beautifulsoup4==4.6.0
bleach==2.1.1
certifi==2017.11.5
chardet==3.0.4
codeclimate-test-reporter==0.2.3
coverage==4.4.2
cryptography==1.9
duplicity==0.7.12
enum34==1.1.6
html5lib==1.0b10
idna==2.6
ipaddress==1.0.17
keyring==10.4.0
keyrings.alt==2.2
lockfile==0.12.2
lxml==4.0.0
olefile==0.44
PAM==0.4.2
Pattern==2.6
pexpect==4.2.1
Pillow==4.1.1
py==1.5.2
pycrypto==2.6.1
pygobject==3.24.1
pyinotify==0.9.6
pytest==3.2.5
pytest-cov==2.5.1
pyxdg==0.25
requests==2.18.4
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.1.15
tornado==4.5.2
urllib3==1.22
webencodings==0.5.1
